.ItemBody {
    /*border: 1px solid grey;*/
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.input {
    position: absolute;
    right: 5%;
}


@media screen and (max-width:1366px) {
    .ItemBody {
        width: 10rem;
        font-size: 0.8em;
    }
}

@media screen and (max-width:1280px) {
    .ItemBody {
        width: 9rem;
        font-size: 0.7em;
    }
}